<!--footer section -->
<!-- <footer class="footer-light">
	<section class="section-b-space light-layout">
		<div class="container-fluid fixed-width">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-title footer-mobile-title">
						<h4>about</h4>
					</div>
					<div class="footer-contant pl-3">
						<div class="footer-logo">
							<img src="assets/images/logo.png" style="width:200px" alt="">
						</div>
						<app-information></app-information>
						<app-social></app-social>
					</div>
				</div>
				<div class="col offset-xl-1">
					<div class="sub-title">
						<app-categories></app-categories>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<app-why-we-choose></app-why-we-choose>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title">
						    <h4>store information</h4>
						</div>
						<div class="footer-contant pr-3">
						    <ul class="contact-list">
						        <li><i class="fa fa-map-marker"></i>Divatt Store, Demo store
						            India 345-659</li>
						        <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
						        <li><i class="fa fa-envelope-o"></i>Email Us: <a [routerLink]="">Support@Fiot.com</a></li>
						        <li><i class="fa fa-fax"></i>Fax: 123456</li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sub-footer">
		<div class="container">
			<app-copyright></app-copyright>
		</div>
	</div>
</footer> -->
<!--footer section end -->
