<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>wishlist</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
            <li class="breadcrumb-item active">wishlist</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!--section not for localstorage start-->
<section class="wishlist-section  section-b-space" *ngIf="localstorage">
  <div class="container text-center" *ngIf="loader">
    <mat-spinner class="loader m-auto"></mat-spinner>
    <p class="mt-1 mb-0"><small><b>Loading..</b></small></p>
  </div>
  <div class="container two-on-small">
    <div class="col-md-12 empty-cart-cls text-center" *ngIf='!wishlistItems.length'  [ngClass]="{'d-none': loader}">
      <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Emprt cart">
      <h3 class="mt-4"><b>Wishlist is Empty</b></h3>
      <h4>Explore more shortlist some items.</h4>
    </div>
    <div class="row" *ngIf='wishlistItems.length'>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let item of wishlistItems;let i = index">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="lable-block">
              <!-- <span class="lable3" title="New"></span> -->
              <span class="lable4" title="Sale" *ngIf="item?.deal?.salePrice && todayDate <= item?.deal?.dealEnd && todayDate >= item?.deal?.dealStart"></span>
            </div>
            <div class="front">
              <!--  [queryParams]="product.productName" -->
              <a [routerLink]="'/product-detail/'+item?.slug+'/'+item?.productId" target="_blank">
               <img src="assets/images/fashion/product/80.jpg" class="img-fluid" alt="" *ngIf="!item.images[0].large">
                  <img [src]="!variantImage ? item.images[0].large : variantImage" class="img-fluid" alt="" *ngIf="item.images[0].large">
                </a>
            </div>
            <a  class="action_btn actionWishlist" (click)="removeItem(item)" title="Add to Wishlist">
              <i class="ti-close"></i>

              <!-- <img _ngcontent-tmi-c2="" alt="" class="icon-height wishlist_icon" src="assets/images/icon/feather/wishlist.png"  title="Wishlist"> -->
            </a>
          </div>
          <div class="product-detail2 buttom">
            <div>
              
              <div class="designer">
                <div class="name" *ngIf="item?.designerProfile?.displayName != null">{{item?.designerProfile?.displayName}}</div>
                <div class="name" *ngIf="item?.designerProfile?.displayName == null">Display Name </div>
              </div>
                <a >
                <h6>{{item?.productDetails?.productName}}</h6>
              </a>
              <h4 *ngIf="item?.deal?.salePrice && todayDate <= item?.deal?.dealEnd && todayDate >= item?.deal?.dealStart">₹ {{item?.deal?.salePrice}}
                <del><span class="money">₹ {{item?.mrp}}</span></del>
              </h4>
              <h4 *ngIf="!item?.deal?.salePrice || todayDate > item?.deal?.dealEnd || todayDate < item?.deal?.dealStart">₹ {{item?.mrp}}</h4>
            </div>
           
          </div>
          <div class="text-center">
            <div class="p-0 size-box">
              <ul class="mb-0">
                <li *ngFor="let productSize of item?.sizes"> <button type="button"   [matTooltip]="productSize" class="btn btn-dark btn-circle btn-xs" [ngClass]="{'active': selectedSize[i] == productSize }" (click)="changeSizeVariant(productSize,i)"><span class="lead">{{productSize == 'Free Size' ? 'F' : productSize}}</span></button></li>
              </ul>
            </div>
          </div>
          <div class="text-center">
            <a (click)="addToCart(item,item.purchaseMinQuantity)" class="btn btn-solid mt-3" [ngClass]="{'disabled': !selectedSize[i]}">Move To Cart</a>
          </div>
        </div>
      </div>
     </div>
    <div class="row justify
    -content-end wishlist-buttons mt-5  ml-0" *ngIf='wishlistItems.data'>
      <div class="p-0">
        <a [routerLink]="['/collections/collection/all']" class="btn btn-solid">continue shopping</a>
        <a [routerLink]="['/address']" class="btn btn-solid">check out</a>
      </div>
    </div>
  </div>
</section>
<!--section  not for localstorage end-->
  <!--section not for localstorage start-->
  <section class="wishlist-section  section-b-space" *ngIf="get_user_dtls">
    <div class="container text-center" *ngIf="loader">
      <mat-spinner class="loader m-auto"></mat-spinner>
      <p class="mt-1 mb-0"><small><b>Loading..</b></small></p>
    </div>
    <div class="container two-on-small">
      <div class="col-md-12 empty-cart-cls text-center" *ngIf='emptyWishlist' [ngClass]="{'d-none': loader}">
        <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Emprt cart">
        <h3 class="mt-4"><b>Wishlist is Empty.</b></h3>
        <!-- <h4>Explore more shortlist some items.</h4> -->
      </div>
      <div class="row" *ngIf='!emptyWishlist' [ngClass]="{'disabled': pageDisabled}">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let item of wishlistItems?.data;let i = index" [ngClass]="{'d-none': loader}">
          <div class="product-box">
            <div class="img-wrapper">
              <div class="lable-block">
                <!-- <span class="lable3" title="New"></span> -->
                <span class="lable4" title="Sale" *ngIf="item?.deal?.salePrice && todayDate <= item?.deal?.dealEnd && todayDate >= item?.deal?.dealStart"></span>
              </div>
              <div class="front">
                <!--  [queryParams]="product.productName" -->
                <a [routerLink]="'/product-detail/'+item?.slug+'/'+item?.productId" target="_blank">
                 <img src="assets/images/fashion/product/80.jpg" class="img-fluid" alt="" *ngIf="!item.images[0].large">
                    <img [src]="!variantImage ? item.images[0].large : variantImage" class="img-fluid" alt="" *ngIf="item.images[0].large">
                  </a>
              </div>
              <a  class="action_btn actionWishlist" (click)="removeItem(item)" title="Add to Wishlist">
                <i class="ti-close"></i>
                <!-- <img _ngcontent-tmi-c2="" alt="" class="icon-height wishlist_icon" src="assets/images/icon/feather/"  title="Wishlist"> -->
              </a>
            </div>
            <div class="product-detail2 buttom">
              <div>
                
                <div class="designer">
                  <div class="name" *ngIf="item?.designerProfile?.displayName != null">{{item?.designerProfile?.displayName}}</div>
                  <div class="name" *ngIf="item?.designerProfile?.displayName == null">Display Name </div>
                </div>
                  <a >
                  <h6>{{item?.productDetails?.productName}}</h6>
                </a>
                <h4 *ngIf="item?.deal?.salePrice && todayDate <= item?.deal?.dealEnd && todayDate >= item?.deal?.dealStart">₹ {{item?.deal?.salePrice}}
                  <del><span class="money">₹ {{item?.mrp}}</span></del>
                </h4>
                <h4 *ngIf="!item?.deal?.salePrice || todayDate > item?.deal?.dealEnd || todayDate < item?.deal?.dealStart">₹ {{item?.mrp}}</h4>
              </div>
             
            </div>
            <div class="text-center">
              <div class="p-0 size-box">
                <ul class="mb-0">
                  <li *ngFor="let productSize of item?.sizes"> <button type="button" [matTooltip]="productSize" class="btn btn-dark btn-circle btn-xs" [ngClass]="{'active': selectedSize[i] == productSize }" (click)="changeSizeVariant(productSize,i,item.productId)"><span class="lead">{{productSize == 'Free Size' ? 'F' : productSize}}</span></button></li>
                  <!-- *ngIf="item?.withCustomization" -->
                  <li *ngIf="item?.withCustomization"> 
                    <!-- <button class="custom-button" mat-raised-button (click)="custom_modal(customchart,item)" [ngClass]="{'active': item?.productId == customproductId }">CUSTOM</button> -->
                    <button type="button" matTooltip="Custom Size" class="btn btn-dark btn-circle btn-xs size-custom" (click)="custom_modal(customchart,item)" [ngClass]="{'active': item?.productId == customproductId }" *ngIf="get_user_dtls && item?.withCustomization"><span class="lead">C</span></button>
                    
                  </li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <a (click)="addToCart(item,item.purchaseMinQuantity)" *ngIf="!customization[item?.productId]" class="btn btn-solid mt-3" [ngClass]="{'disabled':  !selectedSize[i]}">Move To Cart</a>
              <a (click)="addToCart(item,item.purchaseMinQuantity)" *ngIf="customization[item?.productId]" class="btn btn-solid mt-3">Move To Cart</a>
            </div>
          </div>
        </div>
       </div>
       <div class="row justify-content-center" *ngIf="!emptyWishlist" [ngClass]="{'d-none': loader}">
        <div>
          <ul class="pagination">
               <li (click)="setPage(wishlistItems.currentPage - 1)" [ngClass]="{disabled:wishlistItems?.currentPage === 0}" class="circle-border" matTooltip="Previous" matTooltipPosition="above">
                  <a>
                    <!-- Previous -->
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Previous
                  </a>
              </li>
               <li class="pagenumber active">
                  <a href="">1</a>
              </li>
              <!-- <li class="pagenumber">
                <a href="">2</a>
            </li> -->
              <li (click)="setPage(wishlistItems.currentPage + 1)" [ngClass]="{disabled:wishlistItems?.currentPage === wishlistItems?.totalPage}" class="circle-border" matTooltip="Next" matTooltipPosition="above">
                  <a>
                    <!-- Next -->
                    Next <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  </a>
              </li>
          </ul>
        </div>
       </div>
       <div>
        
       </div>
      <div class="row justify-content-end wishlist-buttons mt-5  ml-0" *ngIf='continuebtns'>
        <div class="p-0">
          <a [routerLink]="['/collections/collection/all']" class="btn btn-solid">continue shopping</a>
          <a [routerLink]="['/address']" class="btn btn-solid">check out</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Standard Measurement Charts Modal Start -->
<ng-template #customchart let-modal>
  <div class="customchart_modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Standard Measurement Charts</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <form #customchartform="ngForm" (ngSubmit)="onSubmitcustomchartform(customchartform)">
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <h4 class="d-flex justify-content-between">{{mesormentFor}}  <mat-icon (click)="addChart()" class="curser-pointer">add</mat-icon></h4>
          <div class="in-cms custom-toggle" [ngClass]="{'disabled' : !customchartform.valid}">
            <span class="in" >In</span>
            <mat-slide-toggle name="sizeType" [(ngModel)]="sizeType" (change)="convartValue(customchartform,mesormentFor)"></mat-slide-toggle><span class="cms">Cms</span>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 mb-2" *ngFor="let mesorment of mesormentList; let i = index;"> -->
            <a class="custom-button text-white mr-1 mb-2 d-inline-block" *ngFor="let mesorment of mesormentList; let i = index;" [matTooltip]="mesorment?.displyName"  mat-raised-button (click)="onSelectCustomOld(mesorment)" [ngClass]="{'active': mesormentId == mesorment?.id}">{{mesorment?.displyName}}</a>
          <!-- </div> -->
        </div>
         <!-- Women -->
         <div class="row" *ngIf="mesormentFor == 'Women'">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Neck</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="neck" [(ngModel)]="model.neck" >
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Crotch Length</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="crotchLength" [(ngModel)]="model.crotchLength">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Shoulder</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="shoulder" [(ngModel)]="model.shoulder">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waist" [(ngModel)]="model.waist">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Bust</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="bust" [(ngModel)]="model.bust">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Hip</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="hip" [(ngModel)]="model.hip">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Rib cage (under bust)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="ribCage" [(ngModel)]="model.ribCage">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Top hip (low waist)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="topHip" [(ngModel)]="model.topHip">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Side neck point to waist apex (front neck depth)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="sideNeck" [(ngModel)]="model.sideNeck">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist to hip</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waistToHip" [(ngModel)]="model.waistToHip">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Back side neck point to waist (back neck depth)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="backSide" [(ngModel)]="model.backSide">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Front side neck point to waist (kurta length along with waist to knee)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="frontSide" [(ngModel)]="model.frontSide">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Back width</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="backWidth" [(ngModel)]="model.backWidth">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist to knee</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waistToKnee" [(ngModel)]="model.waistToKnee">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Armscye depth</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="armscyeDepth" [(ngModel)]="model.armscyeDepth">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Knee to ankle(may be required for ankle length)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="kneeToAnkle" [(ngModel)]="model.kneeToAnkle">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Armhole</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="armhole" [(ngModel)]="model.armhole">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Thigh</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="thigh" [(ngModel)]="model.thigh">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Top arm(bicep)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="topArm" [(ngModel)]="model.topArm">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Knee</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="knee" [(ngModel)]="model.knee">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Elbow</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="elbow" [(ngModel)]="model.elbow">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Calf circumference</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="calfCircumference" [(ngModel)]="model.calfCircumference">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Wrist</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="wrist" [(ngModel)]="model.wrist">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>High ankle</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="highAnkle" [(ngModel)]="model.highAnkle">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Sleeve length</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="sleeveLength" [(ngModel)]="model.sleeveLength">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Ankle</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="ankle" [(ngModel)]="model.ankle">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Crotch depth</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="crotchDepth" [(ngModel)]="model.crotchDepth">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist to floor (bottom length)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waistToFloor" [(ngModel)]="model.waistToFloor">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="mb-0 mt-4">
              <mat-checkbox
                  class="example-margin" name="save" [(ngModel)]="save">
                  I want to save this measurement.
              </mat-checkbox>
          </p>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="save">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Display Name</mat-label>
                  <input type="text" matInput required  name="displyName" [(ngModel)]="model.displyName">
                </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Men/Kids -->
        <div class="row" *ngIf="mesormentFor == 'Men/Kids'">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Neck</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="neck" [(ngModel)]="model.neck" >
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Shoulder</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="shoulder" [(ngModel)]="model.shoulder">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Chest</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="chest" [(ngModel)]="model.chest">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Crotch Length</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="crotchLength" [(ngModel)]="model.crotchLength">
                </mat-form-field>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Side neck point to waist</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="sideNeck" [(ngModel)]="model.sideNeck">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nape to waist</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="napeNaist" [(ngModel)]="model.napeNaist">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Back width</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="backWidth" [(ngModel)]="model.backWidth">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Armscye depth</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="armscyeDepth" [(ngModel)]="model.armscyeDepth">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Armhole</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="armhole" [(ngModel)]="model.armhole">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Top arm(bicep)</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="topArm" [(ngModel)]="model.topArm">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Elbow</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="elbow" [(ngModel)]="model.elbow">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Wrist</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="wrist" [(ngModel)]="model.wrist">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Sleeve length</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="sleeveLength" [(ngModel)]="model.sleeveLength">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Crotch depth</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="crotchDepth" [(ngModel)]="model.crotchDepth">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waist" [(ngModel)]="model.waist">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Hip</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="hip" [(ngModel)]="model.hip">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Top hip</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="topHip" [(ngModel)]="model.topHip">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist to hip</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waistToHip" [(ngModel)]="model.waistToHip">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist to knee</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waistToknee" [(ngModel)]="model.waistToknee">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist to ankle</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waistToAnkle" [(ngModel)]="model.waistToAnkle">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Knee to ankle</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="kneeToAnkle" [(ngModel)]="model.kneeToAnkle">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Thigh</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="thigh" [(ngModel)]="model.thigh">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Knee</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="knee" [(ngModel)]="model.knee">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Calf circumference</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="calfCircumference" [(ngModel)]="model.calfCircumference">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>High ankle</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="highAnkle" [(ngModel)]="model.highAnkle">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Ankle</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="ankle" [(ngModel)]="model.ankle">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Waist to floor</mat-label>
                  <input type="number" matInput required min="0" onkeyup="if(this.value<0){this.value= this.value * -1}" name="waistToFloor" [(ngModel)]="model.waistToFloor">
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="mb-0 mt-2">
              <mat-checkbox
                  class="example-margin" name="save" [(ngModel)]="save">
                  I want to save this measurement.
              </mat-checkbox>
          </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="save">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Display Name</mat-label>
                  <input type="text" matInput  name="displyName" [(ngModel)]="model.displyName">
                </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer customization-btn">
        <a type="button" class="btn btn-outline-dark submit-btn" [ngClass]="{'disabled': !customchartform.valid}" (click)="UnsaveMesormenMen(customchartform)" mat-raised-button >Use</a>
        <button type="submit" class="btn btn-outline-dark submit-btn"  mat-raised-button [disabled]="!customchartform.valid || !save  || !model.displyName">Continue</button>
      </div>
    </form>
  </div>
</ng-template>
<!-- Standard Measurement Charts Modal Start -->
  <!--section  not for localstorage end-->
<app-footer></app-footer>