<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Order Item Details</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
                        <li class="breadcrumb-item active">Order details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<section class="orderItemDetails">
    <div class="container">
        <div class="row justify-content-center" *ngIf="loader">
            <div class="load">
                <mat-spinner class="loader m-auto"></mat-spinner>
                <p class="mt-1 mb-0 text-center"><small><b>Loading..</b></small></p>
            </div>
        </div>
        <div class="row" [ngClass]="{'d-none': loader}">
            <div class="col-lg-9 m-auto">
                <div class="row p-1">
                    <div class="col-lg-12 order-two">
                        <div class="row">
                            <div class="order-descption border p-3 w-100">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="text-muted">ORDER ID</p>
                                        <p class="text-dark font-weight-bold">{{parms_order_id}}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="text-muted">ORDER DATE</p>
                                        <!-- <p class="text-dark font-weight-bold">{{orderDetails?.orderDate | date:'dd MMM yyy'}}</p> -->
                                        <p class="text-dark font-weight-bold">{{orderDetails?.orderDate}}</p>
                                    </div>

                                    <div class="col-sm-3">
                                        <p class="text-muted">DELIVERY {{trackingDetails?.deliveryDetails?.deliveredDate
                                            ? 'EXPT DATE' : 'DATE'}}</p>
                                        <p class="text-dark font-weight-bold">{{trackingDetails?.deliveryDetails != null
                                            ? trackingDetails?.deliveryDetails?.deliveredDate : shippingDate}}</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="text-muted">DELIVERY STATUS</p>
                                        <p *ngIf="orderItemStatus != 'returnRequest' && orderItemStatus != 'returnRefund' && orderItemStatus != 'Delivered' && orderItemStatus != 'cancelled' && orderItemStatus != 'Request for cancelation' && orderItemStatus != 'Rejected'"
                                            class="text-dark font-weight-bold d-flex align-items-center text-capitalize">
                                            <i class="ti ti-control-record text-warning2 line-height-0"></i>&nbsp;
                                            <span
                                                *ngIf="orderItemStatus != 'Product received from user' && orderItemStatus != 'Product shipped by user'">{{orderItemStatus}}</span>
                                            <span *ngIf="orderItemStatus == 'Product received from user'">Product
                                                received by seller</span>
                                            <span *ngIf="orderItemStatus == 'Product shipped by user'">Product shipped
                                                by you</span>
                                        </p>
                                        <p *ngIf="orderItemStatus == 'Delivered'"
                                            class="text-dark font-weight-bold d-flex align-items-center text-capitalize">
                                            <i class="ti ti-control-record text-success line-height-0"></i>&nbsp;
                                            <span>Delivered</span>
                                        </p>
                                        <p *ngIf="orderItemStatus == 'returnRequest' || orderItemStatus == 'returnRefund' || orderItemStatus == 'Rejected'"
                                            class="text-warning2 font-weight-bold d-flex align-items-center text-capitalize">
                                            <i class="ti ti-control-record text-warning2 line-height-0"
                                                *ngIf="orderItemStatus == 'returnRequest' || orderItemStatus == 'Rejected'"></i>&nbsp;
                                            <i class="ti ti-control-record text-success line-height-0"
                                                *ngIf="orderItemStatus == 'returnRefund'"></i>&nbsp;
                                            <span *ngIf="orderItemStatus == 'returnRequest'">Return Request</span>
                                            <span
                                                *ngIf="orderItemStatus == 'returnRefund' || orderItemStatus == 'Rejected'"
                                                [ngClass]="{'text-success': orderItemStatus == 'returnRefund' , 'text-warning2': orderItemStatus == 'Rejected'}">{{orderItemStatus
                                                == 'returnRefund' ? 'Return Completed' : 'Return Rejected'}}</span>
                                        </p>
                                        <p *ngIf="orderItemStatus == 'cancelled' || orderItemStatus == 'Request for cancelation'"
                                            class="text-dark font-weight-bold d-flex align-items-center text-capitalize">
                                            <i class="ti ti-control-record text-danger line-height-0"
                                                *ngIf="orderItemStatus == 'cancelled'"></i>&nbsp;
                                            <i class="ti ti-control-record text-warning2 line-height-0"
                                                *ngIf="orderItemStatus == 'Request for cancelation'"></i>&nbsp;
                                            <span>{{orderItemStatus}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border row">
                            <div class="col-lg-12">
                                <ul *ngIf="orderDetails?.paymentData && orderItemStatus != 'cancelled' && orderItemStatus != 'returnRequest' && orderItemStatus != 'returnRefund' && orderItemStatus != 'Rejected' && orderItemStatus != 'Return request approved' && orderItemStatus != 'Product shipped by user' && orderItemStatus != 'Product received from user' &&  orderItemStatus != 'Request for cancelation'"
                                    id="progressbar" class="text-center">
                                    <li class="active step0"></li>
                                    <li [ngClass]="{'active': trackingDetails?.packedDetails || trackingDetails?.shippedDetails ||  trackingDetails?.deliveryDetails}"
                                        class="step0"></li>
                                    <li [ngClass]="{'active': trackingDetails?.shippedDetails ||  trackingDetails?.deliveryDetails}"
                                        class="step0"></li>
                                    <li [ngClass]="{'active': trackingDetails?.deliveryDetails}" class="step0"></li>
                                </ul>
                                <ul *ngIf="orderItemStatus == 'Return request approved' || orderItemStatus == 'Product received from user' || orderItemStatus == 'Product shipped by user' || orderItemStatus == 'returnRefund' || orderItemStatus == 'Rejected'"
                                    id="progressbar" class="text-center">
                                    <li class="active step0"></li>
                                    <li [ngClass]="{'active': trackingDetails?.userShippedProduct}"
                                        class="step0 cursor-pointer"
                                        (click)="openShippingModel(orderDetails,productShipping)"></li>
                                    <li [ngClass]="{'active': trackingDetails?.designerReceivedProduct}" class="step0">
                                    </li>
                                    <li [ngClass]="{'active': trackingDetails?.returnFromAdmin}" class="step0"></li>
                                </ul>
                                <ul *ngIf="orderDetails?.paymentData && orderItemStatus == 'cancelled' || orderItemStatus == 'Request for cancelation'"
                                    id="progressbar" class="text-center cancelTracking">
                                    <li class="step0 active"></li>
                                    <li class="step0" [ngClass]="{'active':orderItemStatus == 'cancelled'}"></li>
                                </ul>
                                <ul *ngIf="!orderDetails?.paymentData" id="progressbar"
                                    class="text-center cancelTracking notconfirm">
                                    <li class="step0 active"></li>
                                    <li class="step0 active"></li>
                                </ul>
                                <ul *ngIf="orderDetails?.paymentData && orderItemStatus == 'returnRequest' || orderDetails?.paymentData && orderItemStatus == 'Return rejected by admin'"
                                    id="progressbar" class="text-center cancelTracking returnTracking">
                                    <li class="step0"
                                        [ngClass]="{'active':orderItemStatus == 'returnRequest' || orderItemStatus == 'returnRefund' || orderItemStatus == 'Return rejected by admin'}">
                                    </li>
                                    <li class="step0"
                                        [ngClass]="{'active':orderItemStatus == 'returnRefund' || orderItemStatus == 'Return rejected by admin'}">
                                    </li>
                                </ul>

                            </div>
                            <div class="col-lg-12">
                                <div *ngIf="!orderDetails?.paymentData"
                                    class="row justify-content-between top cancelTrackingImage">
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/dispatch.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/cancel.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order Not<br> Confirmed</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="orderDetails?.paymentData && orderItemStatus != 'cancelled' && orderItemStatus != 'returnRequest' && orderItemStatus != 'returnRefund'&& orderItemStatus != 'Rejected' && orderItemStatus != 'Return request approved' && orderItemStatus != 'Product shipped by user' && orderItemStatus != 'Product received from user' && orderItemStatus != 'Request for cancelation'"
                                    class="row justify-content-between top">
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/dispatch.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>verified</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/shipped.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>Packed</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/out-for-delivery.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>Shipped</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/delivered.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>Delivered</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="orderItemStatus == 'Return request approved' || orderItemStatus == 'Product shipped by user' || orderItemStatus == 'Product received from user' || orderItemStatus == 'returnRefund' || orderItemStatus == 'Rejected'"
                                    class="row justify-content-between top">
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/dispatch.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Return<br>Approve</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/shipped.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Product<br>shipped</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/out-for-delivery.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Product<br>received</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/delivered.png"
                                            *ngIf="orderItemStatus != 'Rejected'">
                                        <img class="icon" src="assets/images/cancel-button.png"
                                            *ngIf="orderItemStatus == 'Rejected'">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin" *ngIf="orderItemStatus != 'Rejected'">
                                                Return<br>Completed</p>
                                            <p class="font-weight-bold no-margin" *ngIf="orderItemStatus == 'Rejected'">
                                                Refund<br>Rejected</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="orderDetails?.paymentData && orderItemStatus == 'cancelled'"
                                    class="row justify-content-between top cancelTrackingImage">
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/dispatch.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>verified</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/cancel.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>canceled</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="orderDetails?.paymentData && orderItemStatus == 'Request for cancelation'"
                                    class="row justify-content-between top cancelTrackingImage">
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/dispatch.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Request <br> for cancelation</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/cancel.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>canceled</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- returnRequest -->
                                <div *ngIf="orderDetails?.paymentData && orderItemStatus == 'returnRequest' || orderItemStatus == 'Return rejected by admin' && !orderDetails?.paymentData"
                                    class="row justify-content-between top cancelTrackingImage">
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/delivered.png">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="font-weight-bold no-margin">Order<br>Delivered</p>
                                        </div>
                                    </div>
                                    <div class="row d-flex icon-content">
                                        <img class="icon" src="assets/images/return-product.jpg">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p *ngIf="orderItemStatus == 'returnRequest'"
                                                class="font-weight-bold no-margin">Return <br>Request</p>
                                            <p *ngIf="orderItemStatus == 'Return rejected by admin'"
                                                class="font-weight-bold no-margin">Return <br>Rejected</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row" *ngFor="let orderitem of orderDetails?.OrderSKUDetails;let i = index;">
                            <div class="item-descption border p-3 d-flex w-100"
                                *ngIf="parms_product_id == orderitem?.productId">
                                <div class="d-flex w-100">
                                    <div class="imgbox">
                                        <img [src]="orderitem?.images!= null ? orderitem?.images : 'assets/images/fashion/product/80.jpg'"
                                            alt="">
                                    </div>
                                    <div class="descption">
                                        <h4 class="p_name"> {{orderitem?.productName}} </h4>
                                        <div class="product_type bold"> Cotton Top <span>-New</span></div>
                                        <p class="size_type"> <span class="text-black">Size :</span> {{orderitem?.size}}
                                        </p>
                                        <p class="qty"><span>Quantity : </span>{{orderitem?.units}}</p>
                                        <p *ngIf="orderItemStatus == 'New'" style="cursor: pointer; color: red;" (click)="openCustomizeModel(orderDetails, orderitem.size, designChanges)">Need any changes?</p>
                                    </div>
                                </div>
                                <div class="price d-flex align-items-center">
                                    <div class="font-weight-bold color-black">
                                        ₹&nbsp;{{orderitem?.salesPrice == 0 ? orderitem?.mrp : orderitem?.salesPrice}}
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 border" *ngIf="parms_product_id == orderitem?.productId">
                                <div class=" orderStatusComments">
                                    <div *ngIf="orderitem?.orderItemStatus == 'Request for cancelation'"
                                        class="head mb-1 p-3">
                                        Requested a {{trackingDetails?.cancelOrderDetails ? 'order rejection' :
                                        'cancelation'}} by {{trackingDetails?.cancelOrderDetails ? 'seller' : 'you'}}
                                        because of-
                                        <p class="comment text-danger mb-0">
                                            <br>
                                            {{trackingDetails?.cancelOrderDetails ?
                                            trackingDetails?.cancelOrderDetails?.cancelComment :
                                            trackingDetails?.cancelFromUser?.comment}}
                                            <br
                                                *ngIf="trackingDetails?.cancelOrderDetails?.cancelationTime || trackingDetails?.cancelFromUser?.dateTime">
                                            <br
                                                *ngIf="trackingDetails?.cancelOrderDetails?.cancelationTime || trackingDetails?.cancelFromUser?.dateTime">
                                            <span class="text-black"
                                                *ngIf="trackingDetails?.cancelOrderDetails?.cancelationTime || trackingDetails?.cancelFromUser?.dateTime">on
                                                {{trackingDetails?.cancelOrderDetails ?
                                                trackingDetails?.cancelOrderDetails?.cancelationTime :
                                                trackingDetails?.cancelFromUser?.dateTime}}</span>
                                        </p>
                                    </div>
                                    <p *ngIf="orderitem?.orderItemStatus == 'cancelled'"
                                        class="reason mb-1 text-danger mb-0 p-3">
                                        Order is canceled for {{trackingDetails?.cancelFromUser?.reason ?
                                        trackingDetails?.cancelFromUser?.reason :
                                        trackingDetails?.cancelOrderDetails?.cancelComment}} .
                                        <br
                                            *ngIf="trackingDetails?.cancelFromUser?.dateTime || trackingDetails?.cancelOrderDetails?.cancelationTime">
                                        <br
                                            *ngIf="trackingDetails?.cancelFromUser?.dateTime || trackingDetails?.cancelOrderDetails?.cancelationTime">
                                        <span class="text-black"
                                            *ngIf="trackingDetails?.cancelFromUser?.dateTime || trackingDetails?.cancelOrderDetails?.cancelationTime">on
                                            {{trackingDetails?.cancelFromUser?.dateTime ?
                                            trackingDetails?.cancelFromUser?.dateTime :
                                            trackingDetails?.cancelOrderDetails?.cancelationTime}}</span>
                                    </p>
                                    <p *ngIf="orderitem?.orderItemStatus == 'returnRequest' && trackingDetails?.returnFromUser && !trackingDetails?.returnFromAdmin"
                                        class="head text-warning2 pl-2 mb-0 p-3">
                                        You requested a return because the {{trackingDetails?.returnFromUser?.reason}}
                                        <br *ngIf="trackingDetails?.returnFromUser?.dateTime">
                                        <br *ngIf="trackingDetails?.returnFromUser?.dateTime">
                                        <span class="text-black" *ngIf="trackingDetails?.returnFromUser?.dateTime">on
                                            {{trackingDetails?.returnFromUser?.dateTime}}</span>
                                    </p>
                                    <p *ngIf="trackingDetails?.returnRequestApprove" class="head  pl-2 mb-0 p-3"
                                        [ngClass]="{'text-success':trackingDetails?.returnRequestApprove?.isReturn,'text-warning2':!trackingDetails?.returnRequestApprove?.isReturn}">
                                        <span
                                            *ngIf="trackingDetails?.returnFromUser && trackingDetails?.returnRequestApprove && orderitem?.orderItemStatus == 'Return request approved'">
                                            You requested a return because the
                                            {{trackingDetails?.returnFromUser?.reason}} is
                                            {{trackingDetails?.returnRequestApprove?.isReturn ? 'approved' :
                                            'rejected'}}.
                                        </span>
                                        <span
                                            *ngIf="!trackingDetails?.returnFromUser && trackingDetails?.returnRequestApprove && orderitem?.orderItemStatus == 'Return request approved'">
                                            Your return is {{trackingDetails?.returnRequestApprove?.isReturn ?
                                            'approved' : 'rejected'}} because
                                            {{trackingDetails?.returnRequestApprove?.comments}}.
                                        </span>
                                        <br *ngIf="trackingDetails?.returnRequestApprove?.dateTime">
                                        <br *ngIf="trackingDetails?.returnRequestApprove?.dateTime">
                                        <span class="text-black"
                                            *ngIf="trackingDetails?.returnRequestApprove?.dateTime">on
                                            {{trackingDetails?.returnRequestApprove?.dateTime}}</span>
                                    </p>
                                    <p *ngIf="orderitem?.orderItemStatus == 'Rejected'"
                                        class="head  pl-2 mb-0 p-3 text-danger">
                                        You requested a return because the {{trackingDetails?.returnFromUser?.reason}}
                                        is rejected for {{trackingDetails?.returnFromAdmin?.comments}}.
                                        <br *ngIf="trackingDetails?.returnFromAdmin?.dateTime">
                                        <br *ngIf="trackingDetails?.returnFromAdmin?.dateTime">
                                        <span class="text-black" *ngIf="trackingDetails?.returnFromAdmin?.dateTime">on
                                            {{trackingDetails?.returnFromAdmin?.dateTime}}</span>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  shortNotes pt-2 pb-2">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12  pl-0"
                                        *ngIf="orderItemStatus == 'Return request approved'">
                                        <div class="return_shipping">
                                            <p class="title" style="color: #2828a7;">Please ship the product to below
                                                address and click bellow 'Ship Now' button to fill the shipment detils.
                                                After designer received the product your refund will be process.</p>
                                            <div class="address">{{return_shipping?.displayName}} <br>
                                                {{return_shipping?.address}},
                                                {{return_shipping?.city}} - {{return_shipping?.pinCode}}<br>
                                                {{return_shipping?.state}},{{return_shipping?.country}}<br>
                                                Mob-{{return_shipping?.mobileNo}}
                                            </div>
                                        </div>
                                        <!-- <p  class="mb-0 mt-1">
                                        <a (click)="openShippingModel(orderitem,productShipping)" class="ship-now btn btn-solid btn-xs">Ship Now</a> 
                                    </p> -->
                                    </div>
                                    <p *ngIf="orderItemStatus == 'Product shipped by user' || orderItemStatus == 'Product received from user'"
                                        class="mb-0 py-3"><mat-icon
                                            [ngClass]="{'text-success': orderItemStatus == 'Product received from user','text-warning2' :orderItemStatus == 'Product shipped by user'}">{{orderItemStatus
                                            == 'Product shipped by user' ?
                                            'help':'verified'}}</mat-icon><span>{{orderItemStatus == 'Product shipped by user'? 'Product shipping , waiting for seller confirmation' : 'Product received by the seller'}}.</span></p>
                                    <p *ngIf="orderDetails?.OrderSKUDetails[0]?.orderStatusDetails?.userShippedProduct">
                                        You shipped the return product by below shipment details: <br>
                                        Courier Name:
                                        {{orderDetails?.OrderSKUDetails[0]?.orderStatusDetails?.userShippedProduct?.courierName}}
                                        <br>
                                        Tracking Number:
                                        {{orderDetails?.OrderSKUDetails[0]?.orderStatusDetails?.userShippedProduct?.trakingNumber}}
                                        <br>
                                        Date:
                                        {{orderDetails?.OrderSKUDetails[0]?.orderStatusDetails?.userShippedProduct?.dateTime}}
                                        <br>
                                        Comments:
                                        {{orderDetails?.OrderSKUDetails[0]?.orderStatusDetails?.userShippedProduct?.comments}}
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  shortNotes ">
                                    <p *ngIf="orderItemStatus == 'Orders'" class="mb-0 py-3"><mat-icon
                                            class="text-success">verified</mat-icon><span>Order verified by
                                            {{orderitem?.displayName}}.</span></p>
                                    <p *ngIf="orderItemStatus == 'Packed'" class="mb-0 py-3"><mat-icon
                                            class="text-success">verified</mat-icon><span>Product packed in divatt cover
                                            & Recorded the packing video.</span></p>
                                    <p *ngIf="orderItemStatus == 'Shipped'" class="mb-1 py-3"><mat-icon
                                            class="text-success">verified</mat-icon><span>Product courier by
                                            {{orderitem?.orderStatusDetails?.shippedDetails?.courierName}} on
                                            {{orderitem?.orderStatusDetails?.shippedDetails?.orderShippedTime}}</span>
                                    </p>
                                    <p *ngIf="orderItemStatus == 'Shipped'" class="mb-0  py-3"><mat-icon
                                            class="text-success">info</mat-icon><span>Product AWB number :
                                            {{orderitem?.orderStatusDetails?.shippedDetails?.awbNumber}}</span></p>
                                    <p *ngIf="orderItemStatus == 'Delivered'" class="mb-0 py-3"><mat-icon
                                            class="text-success">verified</mat-icon><span>Product delivered by
                                            {{orderitem?.orderStatusDetails?.shippedDetails?.courierName}} on
                                            {{orderitem?.orderStatusDetails?.deliveryDetails?.deliveredDate}}.</span>
                                    </p>
                                    <p *ngIf="orderItemStatus == 'cancelled' && trackingDetails.cancelFromUser" class="mb-2 pt-2"><mat-icon
                                        class="text-danger">verified</mat-icon><span>Product cancelled successfully
                                        on {{trackingDetails.cancelFromUser.dateTime}}.</span></p>

                                    <p *ngIf="orderItemStatus == 'cancelled' && trackingDetails.cancelOrderDetails" class="mb-2 pt-2"><mat-icon
                                        class="text-danger">verified</mat-icon><span>Product cancelled successfully
                                        on {{trackingDetails.cancelOrderDetails.cancelationTime}}.</span></p>

                                    <p *ngIf="orderItemStatus == 'returnRefund'" class="mb-0 pb-3"><mat-icon
                                            class="text-success">verified</mat-icon><span>Product return completed and
                                            <b>₹{{orderitem?.salesPrice ? orderitem?.salesPrice : orderitem?.mrp}}</b>
                                            refunded to your account on
                                            {{trackingDetails.returnFromAdmin.dateTime}}.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="othersOrder">
                            <div class="item-descption border p-3 d-flex w-100">
                                Other items in this order
                            </div>
                        </div>
                        <div class="row" *ngFor="let orderitem of orderDetails?.OrderSKUDetails;let i = index;">
                            <div class="item-descption border p-3 d-flex w-100"
                                *ngIf="parms_product_id != orderitem?.productId"
                                [routerLink]="['/order-item-details/', orderitem.orderId, orderitem.designerId, orderitem.productId]">
                                <div class="d-flex w-100">
                                    <div class="imgbox">
                                        <img [src]="orderitem?.images!= null ? orderitem?.images : 'assets/images/fashion/product/80.jpg'"
                                            alt="">
                                    </div>
                                    <div class="descption">
                                        <h4 class="p_name"> {{orderitem?.productName}} </h4>
                                        <div class="product_type bold"> Cotton Top <span>-New</span></div>
                                        <p class="size_type"> <span class="text-black">Size :</span> {{orderitem?.size}}
                                        </p>
                                        <p class="qty"><span>Quantity : </span>{{orderitem?.units}}</p>
                                    </div>
                                </div>
                                <div class="price d-flex align-items-center">
                                    <div class="font-weight-bold color-black">
                                        ₹&nbsp;{{orderitem?.salesPrice == 0 ? orderitem?.mrp : orderitem?.salesPrice}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-2">
                        <div class="order_info">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-2">SHIPPING ADDRESS</p>
                                    <div class="text-dark font-weight-bold">
                                        <div class="height-overflow-ellips">
                                            <!-- Chandan chakraborty -->
                                            {{orderDetails?.shippingAddress?.fullName}} <br>
                                            {{orderDetails?.shippingAddress?.address1}} ,
                                            {{orderDetails?.shippingAddress?.city}}
                                            {{orderDetails?.shippingAddress?.state}}
                                            <!-- Joypur.Howrah.west bengal -->
                                        </div>
                                    </div>
                                    <p class="text-dark font-weight-bold mb-3">
                                        {{orderDetails?.shippingAddress?.country}} -
                                        {{orderDetails?.shippingAddress?.postalCode}} <br>
                                        {{orderDetails?.shippingAddress?.mobile}}
                                    </p>
                                    <p><a [routerLink]="'/home'" class="btn btn-solid w-100 mt-1">Go to Home</a></p>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-2">ORDER SUMMARY</p>
                                    <p class="text-dark font-weight-medium mb-2">Item(s) Subtotal <span
                                            class="float-right">₹&nbsp;{{orderDetails?.netPrice}}</span></p>
                                    <p class="text-dark font-weight-medium mb-2">Discount <span class="float-right">-
                                            ₹&nbsp;{{orderDetails?.discount}}</span></p>
                                    <p class="text-dark font-weight-medium mb-2">GST {{OrderItemSKU?.hsnData?.igst}}% <span class="float-right">+
                                            ₹&nbsp;{{orderDetails?.taxAmount}}</span></p>
                                    <p class="text-dark font-weight-medium mb-2">GiftWrap Amount <span
                                            class="float-right">+ ₹&nbsp;{{orderDetails?.giftWrapAmount}}</span></p>
                                    <p class="text-dark font-weight-medium mb-2">Shipping <span
                                            class="float-right">₹&nbsp;{{orderDetails?.shippingCharges}}</span></p>
                                    <p class="text-dark font-weight-medium mb-2">Grand Total <span
                                            class="float-right">₹&nbsp;{{orderDetails?.totalAmount}}</span></p>
                                    <p class="text-dark font-weight-normal mb-3 bg-light p-2 font-12"><i
                                            class="ti ti-truck"></i>&nbsp;Payment Mode <span
                                            class="float-right">{{orderDetails?.paymentData?.paymentMode}}</span></p>
                                    <p *ngIf="invoiceId && trackingDetails?.deliveryDetails"><a href="{{invoiceLink}}" target="_blank"
                                            class="btn btn-solid w-100 mt-1">Get Invoice</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #productShipping let-modal>

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Product shipping to seller
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #productShippedData="ngForm" (ngSubmit)="productShipped(productShippedData)">
        <div class="modal-body">
            <div class="order-item d-flex pt-3 pb-3 mb-2">
                <div class="imgbox">
                    <img [src]="selectedProduct?.images ? selectedProduct?.images : 'assets/images/fashion/product/2.jpg'"
                        alt="">
                </div>
                <div class="descption pl-3">
                    <div class="font-weight-bold">
                        {{selectedProduct?.orderId}}
                    </div>
                    <p class="product-name font-weight-bold mb-1 text-dark">
                        {{selectedProduct?.productName}}
                    </p>
                    <p class="product-name font-weight-bold mb-1 text-dark">
                        Size : {{selectedProduct?.size}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Courier Name</mat-label>
                            <input type="text" matInput name="courierName" pattern="^[a-zA-Z \-\']+"
                                [(ngModel)]="model.courierName" placeholder="Courier Name" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Traking Number</mat-label>
                            <input type="number" matInput min="0" name="trakingNumber" [(ngModel)]="model.trakingNumber"
                                placeholder="Traking Number" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput rows="6" name="comments" [(ngModel)]="model.comments"
                                placeholder="Please write return reason.." required></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- <p class="terms font-weight-mediam text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. with <a href="" class="link">Terms</a></p> -->
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark submit-btn btn-solid mx-2 " mat-raised-button
                [disabled]="!productShippedData.valid">Submit</button>
            <a type="button" class="btn text-white opacity-full  btn-danger close-btn" mat-raised-button
                (click)="modal.dismiss('Cross click')">Close</a>
        </div>
    </form>
</ng-template>

<ng-template #designChanges let-modal>
    <div class="packed_modal">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Design Changes</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
          <form #designChangesForm="ngForm" (ngSubmit)="designChangesSubmit(designChangesForm)">
            <input type="hidden" name="size" [(ngModel)]="selectedProduct.size">
            <div class="modal-body">
                <div class="chat-messages">
                    <div class="message-box-holder">
                        <div class="message-box message-partner w-100" *ngFor="let changesitem of selectedProduct?.dialogbox;let i = index;">
                            {{changesitem?.message}}
                            <code style=" display: block; float: right;">{{changesitem?.date | date:'dd MMM yyy : h:mm a'}}</code>
                        </div>
                    </div>      
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Changes Details</mat-label>
                              <textarea matInput required name="changesDetails" [(ngModel)]="model.changesDetails" ></textarea>
                            </mat-form-field>
                        </div>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark submit-btn" [disabled]="!designChangesForm.valid">Submit</button>
            </div>
          </form>
    </div>
</ng-template>

<app-footer></app-footer>

<!-- Chat icon -->
<div class="floating_btn">
    <a target="_blank"
        href="https://web.whatsapp.com/send?phone=9553311779&text= I need to talk about my order number {{parms_order_id}}">
        <div class="contact_icon">
            <i class="fa fa-whatsapp my-float"></i>
        </div>
    </a>
    <p class="text_icon">Talk to us?</p>
</div>