.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 58px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
.my-pagination .ngx-pagination .current {
  background: rgb(46, 46, 46) !important;
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  /* margin-top: 7px;? */
}
.lg-mobile,.sm-mobile,.xs-mobile,.lg-tab
{
    display: none;
}
@media screen and (max-width:1400px){
  .lg-tab 
  {
      display: block !important;
  }
  .lg-laptop
  {
      display: none !important;
  }
}
@media screen and (max-width:426px) 
{
  .lg-mobile
  {
      display: block !important;   
  }   
  .lg-tab
  {
      display: none !important;
  } 
}
@media screen and (max-width:376px) 
{
  .sm-mobile
  {
      display: block !important;   
  }    
  .lg-mobile
  {
      display: none !important;
  }
}
@media screen and (max-width:321px) 
{
  .xs-mobile
  {
      display: block !important;   
  }  
  .sm-mobile
  {
      display: none !important ;  
  }    
  .lg-mobile
  {
      display: none !important;
  }  
}
.show
{
  overflow: visible !important;
  display: block !important;
}

#download {
  display: none;
}
.descption .designer i {
  float: right;
  font-size: 16px;
  color: #87c048;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid;
  cursor: pointer;
}