input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.profilePicLoader
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.preview-img
{
  width: 20% !important;
}
.showInfo{
  height: 0;
  opacity: 0;
  transition: 0.2 ease-in-out;
  text-align: left;
  font-size: 10px;
  line-height: 13px;
}
.showInfo.show{
  height: auto;
  opacity: 1;
  transition:opacity 0.2 ease-in-out;
}